body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: violet;
  }
  header {
    text-align: center;
  }
  section {
    margin: auto;
    width: 20rem;
  }
  label, input {
    display: block;
  }
  input {
    width: 18rem;
    height: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    margin: 1rem 0;
  }
  label {
    font-size: 1.5rem;
  }
  button {
    display: block;
    width: 7rem;;
    height: 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: 2px solid;
    cursor: pointer;
    margin: auto;
  }
  textarea {
    width: 19rem;
    border-radius: 0.5rem;
    resize: none;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }
  footer {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
  }